@model Dialogistic.Models.Constituent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Constituent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Salutation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salutation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenderPronoun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenderPronoun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deceased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deceased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastContacted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastContacted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastDonated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastDonated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit Constituent", new { id = Model.ConstituentID }) |
    @Html.ActionLink("Back to Constituents", "Index")
</p>
